* {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background: url(color.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  width: 50px;
}

.calculator {
  width: 290px;
  height: 570px;
  padding: 0px 10px 50px;
  background-color: #1c1c1c;
  border-radius: 40px;
  border: 10px solid #313131;
  position: relative;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 260px;
  grid-template-rows: 3fr repeat(5, 1fr);
}

input {
  border: none;
  outline: none;
  background-color: #1c1c1c;
  text-align: right;
  padding-right: 25px;
}

.display {
  font-size: 50px;
  color: #fff;
}

input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

input::placeholder {
  color: #fff;
  text-align: right;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

.gamboge:hover {
    background-color: hsl(32, 100%, 63%)
}

.gray:hover {
    background-color: hsl(0, 18%, 90%);
}

.zero {
  width: 125px;
  border-radius: 35px;
  text-align: left;
  padding-left: 25px;
}

.gray {
  background-color: #d4d4d2;
}

.gamboge {
  background-color: #ff9500;
  color: #fff;
}

.liver {
  background-color: #505050;
  color: #fff;
}

.status {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 0;
  font-size: small;
}

.fa-solid {
  color: white;
}

.time {
  color: white;
}

.line {
  position: absolute;
  bottom: 10px;
  width: 110px;
  height: 5px;
  border-radius: 50px;
  background: #fff;
  left: 80px;
}
